name: Build and Push Docker Image

permissions:
  contents: read
  packages: write

on:
  push:
    branches: ["main", "postgres"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/macm18/portfolio-nextjs:latest

      - name: Trigger Coolify Deployment
        run: |
          curl -X POST "${{ secrets.COOLIFY_WEBHOOK_URL }}" \
               -H "Authorization: Bearer ${{ secrets.COOLIFY_API_TOKEN }}"
        

     - name: Second Deployment Trigger
       run: |
         curl -X POST "${{ secrets.SECOND_DEPLOYMENT_WEBHOOK_URL }}" \
                -H "Authorization: Bearer ${{ secrets.COOLIFY_API_TOKEN }}"